.userItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.containerAction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nameUserBtn {
  width: 99%;
}
.wrapperPencil {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
}
