.row {
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  min-height: calc(100vh - 60px);
  background-color: #c8d3da;
  display: flex;
  justify-content: center;
}
.col {
  /* width: 375px; */
}
.col > h1 {
  font-size: 36px;
}
.authForm {
  width: 395px;
  margin: 0 auto;
}
.cardBlue {
  color: white;
  background-color: #1e88e5;
  padding: 15px;
  border-radius: 3px;
}
.cardAction {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
}
.inputField {
  width: 349px;
  padding-top: 10px;
}
.labelInputPassword,
.labelInputEmail {
  display: block;
  text-align: left;
  font-size: 16px;
}
.btnResetPassword {
  width: fit-content;
  font-size: 17px;
  /* width: 18%;   */
  background-color: #f57f17;
  border-radius: 3px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: -2px 2px 4px -0.5px #000;
  text-align: center;
  border: none;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}
.btnResetPassword:hover {
  background-color: #e27515;
  color: #e6e6e6;
}
.btnCancel {
  width: fit-content;
  font-size: 17px;
  /* width: 18%;   */
  background-color: #bdbdbd;
  border-radius: 3px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: -2px 2px 4px -0.5px #000;
  text-align: center;
  border: none;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}
.yellowInput {
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  /* box-shadow: 0 1px 0 0 #fff!important; */
  /* color: #ffffff!important; */
  font-size: 16px;
  background-color: inherit;
  width: 350px;
  cursor: auto;
  display: block;
  opacity: 1;
  visibility: visible;
}
.containerVisibilityIcon {
  display: flex;
  align-items: center;
}

.passwordVisibilityOffIcon,
.passwordVisibilityIcon {
  width: 20px;
  height: 20px;
  margin-left: 4px;
}

.emailClearIcon:hover,
.passwordVisibilityOffIcon:hover,
.passwordVisibilityIcon:hover {
  color: #000;
  cursor: pointer;
}
.reset_error {
  color: red;
}
.captcha {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.errorCaptcha {
  color: #ff1744;
  padding: 0 20px;
}
