.favoriteButton, .deleteButton {
  background-color: transparent;
  margin: 0 10px;
  border: none;
  color: inherit;
  outline: none;
  padding: 0;
  cursor: pointer; 
}
.deleteButton {
  margin: 10px 10px;
}
.favoriteButton:focus, .deleteButton:focus {
  background-color: transparent; 
}
/* button:focus {  
  background-color: transparent;
} */
.post {
  display: flex;
  justify-content: space-between;  
  margin: 5px 0;
  padding: 5px 10px;
}
.deleteButton svg {
  font-size: 27px;
}
.containerAction {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.paragraphContainer {
  position: relative;
  display: flex;
  align-items: center;
}
.aLink{
  text-decoration: none;
  color: black;
  display: flex;
}
.paragraph {
  white-space: nowrap; /* Запрещаем перенос текста */
  overflow: hidden; /* Обрезаем текст */
  /* Добавляем автоматическое троеточие */
  text-overflow: ellipsis; 
  max-width: 90vw; /* Ограничиваем ширину текста 90% экрана*/
  margin-right: 5px; /* Отступ до троеточия */
}

.containerFavorite {
  display: flex;
  justify-content: stretch;
  align-items: center;
  text-align: center;
}
.favorite, .unFavorite {
  display: flex;
  flex-direction: column;
}
.number {
  color: black;
}