.cardContainer {
  /* position: relative; */
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.cards {
  display: flex;
  flex-direction: column;
  position: relative;
}
.active {
  /* position: absolute; */
}
.cardWrapper {   
  width: 97%;
  margin: 0 auto;
  padding: 20px 40px;
  border-top: 2px solid #94adfd;
  border-left: 2px solid #94adfd;
  border-right: 2px solid #94adfd;
  border-radius: 35px 35px 0 0;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transform-origin: center;
  transition: top .3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.cardContent {
  max-width: 100%;
  flex: 0 0 360px;
  margin: 0 auto;
}

/* bler */
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  text-align: center;
}