.categoryItem {
  /* width: 300px; */
  border: 1px solid #b1b0b0;
  border-radius: 10px;
  background-color: #2196F3;
  /* margin: 5px 0; */
  padding: 5px 10px;
  display: flex;  
  justify-content: space-between;

  position: relative;
}
/* .tooltipContainer {
  position: relative; 
  display: inline-block
} */
.tooltip {
  position: absolute;
  bottom: -60%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #a1c0e8;
  color: #3a3a3a;  
  padding: 8px 12px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 80%;
  z-index: 10;
  display: flex;
  max-width: 300px;
  max-height: 30px;
  text-align: center;
  align-items: center;
}
.deleteButton {
  background-color: transparent;
  /* margin: 0 10px; */
  border: none;
  color: inherit;
  outline: none;
  padding: 0;
  cursor: pointer; 
}
/* .deleteButton {
  margin: 10px 10px;
} */
.deleteButton:focus {
  background-color: transparent; 
}
/* button:focus {  
  background-color: transparent;
} */
.category {
  display: flex;
  justify-content: space-between;
  border: 1px solid #b1b0b0;
  border-radius: 10px; 
  margin: 5px 0;
  padding: 5px 10px;
}
.deleteButton svg {
  font-size: 27px;
}
.containerAction {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* z-index: 10; */
}
[data-tooltip] {
  /* display: inline-block; */
  position: relative; 
}
/* [tooltip]::after { 
  content: attr(tooltip);
  position: absolute; 
  left: 20%; 
  top: 30%; 
  z-index: 1; 
  background: rgb(252, 252, 251); 
  font-family: Arial, sans-serif; 
  font-size: 11px; 
  padding: 5px 10px; 
  border: 1px solid #747373; 
} */
[data-tooltip]::after, [data-tooltip]::before { 
  position: absolute;
  left: 40%; 
  top: 10%;
  display: none;
  /* opacity: 0; */
  text-transform: none;
  font-size: .9em;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  z-index: 1;
  text-align: center;

  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #fafafa88;
  color: #080808;

}
[data-tooltip]:hover::before, [data-tooltip]:hover::after {
    display: block;
}
[data-tooltip='']::before, [data-tooltip='']::after {
  display: none !important;
}