.categoryItem {
  /* width: 300px; */
  border: 1px solid #b1b0b0;
  border-radius: 10px;
  background-color: #2196f3;
  /* margin: 5px 0; */
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.buttonButton {
  background-color: transparent;
  /* margin: 0 10px; */
  border: none;
  color: inherit;
  outline: none;
  padding: 0;
  cursor: pointer;
}
/* .buttonButton {
  margin: 10px 10px;
} */
.buttonButton:focus {
  background-color: transparent;
}
/* button:focus {  
  background-color: transparent;
} */
.category {
  display: flex;
  justify-content: space-between;
  border: 1px solid #b1b0b0;
  border-radius: 10px;
  margin: 5px 0;
  padding: 5px 10px;
}

.wrapperPencil {
  display: flex;
  align-items: center;
  margin: 0 5px;
  height: 24px;
  opacity: 1;
  transition: opacity 0.25s ease;
}
.wrapperBasket {
  display: flex;
  align-items: center;
  margin: 0 1px;
  opacity: 1;
  transition: opacity 0.25s ease;
}

.wrapperPencil:hover,
.wrapperBasket:hover {
  opacity: 0.65;
}
.containerAction {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* z-index: 10; */
}
