footer { 
  position: absolute;
  bottom: 0;
  width: 100%; 
  /* padding: 1rem; */
  text-align: center;
  align-items: center;
  height: 50px;
  text-align: center;
}

span {
  vertical-align: middle;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

.btn { 
  color: darkgrey;
}