.footer {
  position: absolute;
  bottom: 0;
  left: calc(50% - 170px);
  /* width: 100%;  */
  /* padding: 1rem; */
  text-align: center;
  align-items: center;
  height: 50px;
  text-align: center;
}

.footer_span {
  vertical-align: middle;
  font-weight: 400;
  font-size: 18px;
  color: darkgrey;
}
