.posts {
  max-width: 900px;
  margin: 0 auto;
}
.divAddPost {
  text-align: center;
}
.blogPage {
  /* position: relative; */
  flex-grow: 1;
}
.allPosts {
  display: grid; 
  grid-template-columns: auto;
  grid-auto-rows: 160px; 
  padding: 0 10px;
}

.containerFavorite {
  display: flex;
  justify-content: stretch;
  align-items: center;
  text-align: center;
}
.favorite, .unFavorite {
  display: flex;
  flex-direction: column;
}
.number {
  color: black;
}
/* .blogPage .postLoader {
  position: absolute;
  left: 50%;
  top: 50%;
  color: blue;
} */
/* .btnBlack {
  padding: 10px;
  background-color: black;
  border-radius: 10px;
  color: white;
} */
@media (max-width: 768px) {
  .divAddPost {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .divAddPost {
    font-size: 12px;
  }  
}